<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="global/css/font-awesome.css" />
    <link rel="stylesheet" href="global/css/index.css" />
    <link rel="stylesheet" href="global/css/global.css" />
</head>

<body>
    <div id='app' style="height:100%">
        <el-row>
            <el-col :span="24">
                <header>
                    <img src="" alt="logo" class="header-logo">
                    <ul class="header-operations">
                        <li>切换主题色</li>
                        <li class="header-download">
                            下载主题
                        </li>
                        <li>帮助</li>
                        <li><span class="header-lang is-active">
                          中文
                        </span> <span>/</span> <span class="header-lang">
                          En
                        </span></li>
                    </ul>
                </header>
            </el-col>
        </el-row>
        <el-row style="height:calc(100% - 80px);clear:both;">
            <div class="menu-left">
                <div class="el-menu-item menu-title" @click='handleIsCollapse'><i class="fa fa-bars"></i></div>
                <el-menu class="el-menu-demo" unique-opened="true" theme="dark" :collapse="isCollapse" @select='handleSelect'>
                    <el-submenu v-if="item.parent=='0'" :index="item.index" v-for="item in menuData">
                        <template slot="title">
                            <i class="el-icon-message"></i>
                            <span slot="title">{{item.title}}</span>
                        </template>
                        <el-menu-item :index="_item.index" v-if="_item.parent==item.index" v-for="_item in menuData">{{_item.title}}</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
            <div :class="'wrapper' + [isCollapse?' collapse':'']">
                <div class="content">
                    <el-tabs type="border-card">
                        <el-tab-pane label="主页">主页</el-tab-pane>
                        <el-tab-pane label="配置管理" closable=true>配置管理</el-tab-pane>
                        <el-tab-pane label="角色管理" closable=true>角色管理</el-tab-pane>
                    </el-tabs>
                </div>
                <div class="footer">123</div>
            </div>
        </el-row>
    </div>
</body>

</html>
<script src="global/js/vue.min.js"></script>
<script src="global/js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            menuData: [{
                title: '导航一',
                index: '1',
                parent: '0'
            }, {
                title: '导航二',
                index: '2',
                parent: '0'
            }, {
                index: '1-1',
                title: '选项1',
                parent: '1'
            }, {
                index: '1-2',
                title: '选项2',
                parent: '1'
            }, {
                index: '2-1',
                title: '选项1',
                parent: '2'
            }, {
                index: '2-2',
                title: '选项2',
                parent: '2'
            }],
            isCollapse: false,
            value: ''
        },
        methods: {
            handleIsCollapse: function() {
                this.isCollapse = !this.isCollapse;
            },
            handleSelect: function(index, indexPath) {
                this.value = indexPath
            }
        }
    })
</script>